<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%=__dirname%>/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>子页面</h2>
    <ul><a href="./sub1">子页面1</a></ul>
    <ul><a href="./sub2">子页面2</a></ul>
  </body>
</html>
