<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%=__dirname%>/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>项目列表</h1>
    <ul>
    	<li><a href="/pro1">项目一</a></li>
    	<li><a href="/pro2">项目二</a></li>
    </ul>
  </body>
</html>
